#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  align-items: center;
  gap: 1rem;
}

.action-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
