@import url("../css/variables.css");
@import url("../css/components/table.css");
@import url("../css/components/mui-datepicker.css");
@import url("../css/components/mui-inputfield.css");
@import url("../css/components/mui-selectform.css");

:root {
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--text-primary);
  background-color: var(--background-primary);
}

body {
  margin: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--background-primary) inset !important;
  box-shadow: 0 0 0 1000px var(--background-primary) inset !important;
  -webkit-text-fill-color: var(--input-field-primary) !important;
  color: var(--text-primary) !important;
  transition: background-color 5000s ease-in-out 0s;
}

::selection {
  background: var(--accent-primary);
  color: var(--button-primary-text);
}
