:root {
  --background-primary: #f1f3e0;
  --background-secondary: #d2dcb6;

  --text-primary: #778873;
  --text-secondary: #a1bc98;

  --accent-primary: #a1bc98;
  --accent-secondary: #778873;

  --input-field-primary: #a1bc98;
  --input-field-secondary: #a1bc98;
  --input-field-hover: #a1bc98;

  --button-primary-bg: #a1bc98;
  --button-primary-text: #f1f3e0;
}
